/* index Text Header Animation */

.txt-animation {
    animation: testHero 15s ease-in-out infinite;
    max-width: 900px;

    &:hover { animation-play-state: paused; }
}

@keyframes testHero {
    0% {
        transform: translateY(85px);
    }
    2%, 24% {
        transform: translateY(0);
    }
    27%, 48% {
        transform: translateY(-85px);
    }
    51%, 72% {
        transform: translateY(-170px);
    }
    75%, 98% {
        transform: translateY(-255px);
    }
    100%{
        transform: translateY(-340px);
    }
}
/* Index Header animation*/
.bg-animation {
    animation: bgHero 30s ease-in-out infinite;
    background-repeat: no-repeat;
    background-image: url("../imgs/image-1.png");
    background-position-y: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    width: 50%;
}

@keyframes bgHero {
    0%, 25% {
        background-image: url("../imgs/image-1.png");
    }

    27%, 48% {
        background-image: url("../imgs/image-2.png");
    }

    51%, 72% {
        background-image: url('../imgs/image-3.png');
    }

    75%, 100%{
        background-image: url('../imgs/image-4.png');
    }
}
/* Operations Header Animation*/
.operations-animation {
    animation: operationsHero 30s ease-in-out infinite;
    background-image: url("../imgs/operations-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 55vh;
    min-height: 50vh;
}

@keyframes operationsHero {
    0%, 30% {
        background-image: url("../imgs/operations-3.png");
    }

    33%, 63% {
        background-image: url("../imgs/operations-2.png");
    }

    66%, 100% {
        background-image: url('../imgs/operations-1.png');
    }
}

/* aboutUs Header Animation*/
.aboutUs-animation {
    animation: aboutUsHero 30s ease-in-out infinite;
    background-image: url("../imgs/aboutUs3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 55vh;
    min-height: 50vh;
}

@keyframes aboutUsHero {
    0%, 30% {
        background-image: url("../imgs/aboutUs3.png");
    }

    33%, 63% {
        background-image: url("../imgs/aboutUs2.png");
    }

    66%, 100% {
        background-image: url('../imgs/aboutUs1.png');
    }
}

