
@media (min-width: 1440px) {

    .contact-service-container {
        width: 80%;
        margin: auto !important;
    }
}
    /* responsive */
    @media (max-width: 1024px) {

        .bg-animation { background-position-x: -50%; }

        .services-container {gap:2.5rem}

        .services-service-1 {
            grid-column-start: 1;
            grid-column-end: 6;
        }

        .services-service-2 {
            grid-column-start: 6;
            grid-column-end: 11;
        }

        .services-service-3 {
            grid-column-start: 11;
            grid-column-end: 16;
        }

        .services-service-4 {
            grid-column-start: 3;
            grid-column-end: 8;
        }

        .services-service-5 {
            grid-column-start: 8;
            grid-column-end: 13;
        }

        .contact-service-container {
            height: 400px;
            padding: 3rem;
        }

        .contact-service-container p {
            text-align: center !important;
        }

        .contact-service-btn.mx-auto {
            max-width: 100% !important;
            width: 80%;
        }

        /* .row.contact-service-container.w-75 {width: 100% !important;} */
    }

    @media (max-width: 768px) {

        .bg-animation { display: none; }

        .index-hero-animation, .index-hero-paragraph {width: 100%;}

        .index-ero-title-text, .index-hero-animation, .index-hero-paragraph{ text-align: center;}

        .index-hero-btns { justify-content: center;}

        .section-title { position: relative; }

        .section-title::before {
            position: absolute;
            width: 25%;
            left: 50%;
            height: 0.5rem;
            top: auto;
            bottom: -1.5rem;
            transform: translateX(-50%);
        }

        .form.w-75 { width: 100% !important; }

        .footer-text.d-flex.justify-content-center.align-items-center.gap-md {
            flex-direction: column;
            gap: 2rem;
            align-items: start !important;
        }

        .contact-service-container {
            width: 80%;
            margin: auto !important;
        }
    }

    @media (max-width: 767px) {
        .container-fluid.sticky-top.bg-black {padding: 0rem;}

        .container.nav {max-width: 100% !important;}

        .nav.py-4{ padding: 1rem 0rem 1rem !important; }

        .nav-quote-btn {
            margin: 0;
            border: none;
            text-transform: uppercase;
            border-radius: 0;
            padding: 1.5rem;
        }

        .logo-home {padding-left: 1rem;}

        .burger-icon.d-none {
            position: relative;
            display: block !important;
            padding-right: 1rem;
        }
        .burger-icon svg {
            fill: white;
            width: 40px;
        }
        .check-burger-icon {
            position: absolute;
            width: 40px;
            top: 35px;
            right: 15px;
            opacity: 0;
        }

        .nav-logo-container svg { width: 40px;}

        .nav .nav-links {
            display: none !important;
            text-align: center;
            flex-direction: column;
            flex-basis: 100%;
            padding: 0rem;
            border-bottom: 0.01rem solid rgb(66, 66, 66);
        }

        .nav input[type=checkbox]:checked + ul.nav-links {
            display: flex !important;
        }

        .nav-link { padding: 1.5rem !important; }

        .nav-link:hover { background-color: #282828; }

        .index-hero-container {
            height: auto;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        .services-container {gap:2.5rem 0 }

        .services-service-1 {
            grid-column-start: 2;
            grid-column-end: 15;
        }

        .services-service-2 {
            grid-column-start: 2;
            grid-column-end: 15;
        }

        .services-service-3 {
            grid-column-start: 2;
            grid-column-end: 15;
        }

        .services-service-4 {
            grid-column-start: 2;
            grid-column-end: 15;
        }

        .services-service-5 {
            grid-column-start: 2;
            grid-column-end: 15;
        }

        .index-hero-title { font-size: 2rem;}

        .operations-page .hero-title {
            font-size: 3.5rem;
            width: 100% !important;
        }

        .country-text.col-12.col-md-6.p-4 {
            padding-left: 1rem !important;
            padding-right: 1rem !important;
        }

        .contact-service-section {
            padding-top: 3rem !important;
            padding-bottom: 3rem !important;
        }

        .contact-service-section .contact-service-container {
            flex-direction: column;
            height: 450px;
            width: 100%;
        }

        .contact-service-section .contact-service-container p { width: 100% !important;}

        .index-hero-subtitle { font-size: 1rem;}

        .index-hero-animation { height: 140px; }

        .order-bottom {order: 1;}

        .order-bottom {order: 2;}

        @keyframes testHero {
            0% {
                transform: translateY(145px);
            }
            2%, 24% {
                transform: translateY(0px);
            }
            27%, 48% {
                transform: translateY(-150px);
            }
            51%, 72% {
                transform: translateY(-300px);
            }
            75%, 98% {
                transform: translateY(-450px);
            }
            100%{
                transform: translateY(-600px);
            }
        }
    }

    @media (max-width: 560px) {
        footer {
            flex-direction: column;
            align-items: center;
        }

        .footer-text  h2  { text-align: center; }

        .footer-text  .d-flex  {
            width: 100%;
            justify-content: center !important;
        }

        .footer-social-container .footer-icon-social{ margin-right: 0 !important;     }
    }

    @media screen and (min-width: 0) and (max-width:465px) {

        .section-padding-y {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
        .index-hero-title { font-size: 2rem;}
        .index-hero-subtitle { font-size: 1rem;}
        .index-hero-animation { height: 190px; }

        .txt-animation h1 { padding-bottom: 2.2rem; }

        .index-hero-btns { flex-direction: column; }

        .index-hero-btns .index-hero-btn { 
            justify-content: center !important;
            width: 100%;
        }

        .operations-page .hero-title,
        .operations-page .section-title {font-size: 2.5rem;}

        .operations-page .contact-service-section { width: 100% !important;}

        @keyframes testHero {
            0% {
                transform: translateY(190px);
            }
            2%, 24% {
                transform: translateY(0px);
            }
            27%, 48% {
                transform: translateY(-195px);
            }
            51%, 72% {
                transform: translateY(-390px);
            }
            75%, 98% {
                transform: translateY(-585px);
            }
            100%{
                transform: translateY(-780px);
            }
        }
    }