    :root {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
    }

    $primary-color: #000;
    $secondary-color: #FFC700;
    $accent-color: #95C11F;
    $secondary-txt-color: #3F3F3F;
    $danger-txt-color: #fc5a5a;
    $white-txt-color: #fff;
    $light-gray-color: #FAFAFA;
    $border-color: #D9D9D9;
    $fnt-sm: 1rem;
    $fnt-md: 1.2rem;
    $fnt-lg: 1.6rem;
    $fnt-xl: 3.33rem;
    $fnt-xxl: 3.66rem;