.footer {
    a { color: var(--white-txt-color); }

    &-title { color: var(--accent-color); }

    &-icon,
    &-icon-social {
        svg { fill: white;}
    }

    &-icon { width: 25px; }

    &-footer-icon-social { width: 43px; }
}