
.about-page {
    header {
        .hero-title { line-height: 3.88rem; }
    }

    main {
        .members-section{
            display: flex;
            gap: 40px;
            flex-wrap: wrap;
            justify-content: center;
            .dept-members-container {
                display: flex;
                flex-direction: column;
                max-width: 50%;
                .dept-member {
                    max-width: 400px;
                    .member-img{
                        background-color: $light-gray-color;
                        width: 100%;
                        height:400px;
                        object-fit: cover;
                        object-position: top center;
                    }
                    .member-info {
                        gap: 1rem;
    
                        h3{
                            margin-top: 1rem;
                            margin-bottom: 0.2rem;
                            font-size: $fnt-lg;
                        }
    
                        h4{
                            margin:0;
                            font-size: $fnt-sm;
                        }
                    }
                }
            }
        }
        
    }
}

