@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    --primary-color: #000;
    --secundary-color: #95C11F;
    --accent-color: #FFC700;
    --secondary-txt-color: #3F3F3F;
    --danger-txt-color: #fc5a5a;
    --white-txt-color: #fff;
    --light-gray-color: #FAFAFA;
    --border-color: #D9D9D9;
    --fnt-sm: 1rem;
    --fnt-md: 1.2rem;
    --fnt-lg: 1.6rem;
    --fnt-xl: 3.33rem;
    --fnt-xxl: 3.66rem;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.white { color: var(--white-txt-color) }
.accent { color: var(--accent-color) }

.full-w-container{ max-width: 100%; }
.container-md {
    max-width: 1440px;
    margin: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100%;
}
.container-sm {
    max-width: 1200px;
    margin: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100%;
}

.container-xs {
    max-width: 920px;
    margin: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100%;
}

.bg-gray { background-color: var(--light-gray-color);}
.bg-black { background-color: var(--primary-color);}

.fw-light { font-weight: 300 }
.fw-regular { font-weight: 400 }
.fw-medium { font-weight: 500 }
.fw-bold { font-weight: 700 }

.txt-center {text-align: center;}
.txt-left { text-align: left; }
.txt-danger { color: var(--danger-txt-color);}

.d-block { display: block }
.d-flex { display: flex }
.flex-column {flex-direction: column; }
.flex-justify-center {justify-content: center;}
.flex-justify-start { justify-content: start; }
.flex-justify-end { justify-content: end; }
.flex-justify-center-between { justify-content: space-between;}
.flex-align-center {align-items: center;}
.flex-wrap { flex-wrap:wrap; }

.d-grid {display: grid;}
.gap-xs { gap: 1rem;}
.gap-sm { gap: 2rem}
.gap-md { gap: 4rem;}

.section-padding-y {
    padding-top: 7.33rem;
    padding-bottom: 7.33rem ;
}

.mw-100 { max-width: 100%}
.w-100 { width: 100%}
.w-50 { width: 50%}
.m-0 {margin: 0 !important;}

.mb-1 { margin-bottom: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-4 { margin-top: 4rem; }

.btn {
    border: none;
    color: var(--white-txt-color);
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
}
.primary-btn { background-color: var(--primary-color); }
.secundary-btn {
    background-color: transparent !important;
    border: 1px solid #fff !important;
}

header {
    position: relative;
 }

.logo-home {
    margin-top: 0.2rem;
    line-height: 0;
}


.nav-link {
    padding: 3rem 2rem;
    font-size: var(--fnt-sm);
    position: relative;
    text-transform: uppercase;
    list-style: none;
}

.nav-link a::before{
    bottom: 25px;
    background-color: var(--accent-color);
    border-radius: 1rem;
    content: "";
    display: block;
    height: 0.2rem;
    left: 10%;
    position: absolute;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 150ms ease;
    width: 80%;
}

.nav-link a:hover::before {
    transform: scaleX(1);
    transform-origin: center;
}

.nav-link a {
    text-decoration: none;
    color: var(--white-txt-color);
}

.nav-link a:hover { font-weight: 700; }

.nav-quote-btn {
    border: #FACC2D 2px solid;
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
}

.hero-main-container {min-height: 80vh;}

.home-hero{
    height: 80vh;
    padding-top: 6rem;
    padding-bottom: 9rem;
    overflow: hidden;
    position: relative;
}

.hero {
    padding: 6rem 0;
    justify-content: center;
    align-items: center;
}

.hero-animation-container {
    height: 70px;
    overflow: hidden;
    margin-top: 1rem;
    width: 900px;
}

.hero-container {
    height: 70px;
}

.hero-title{
    font-size: 3.5rem;
    line-height: 3.5rem;
    cursor: pointer;
    letter-spacing: 0.15rem;
    color: #fff;
}
.hero-subtitle {
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
    font-size: var(--fnt-lg);
    line-height: 2rem;
}

.hero-paragraph {
    margin-top: 1.3rem;
    line-height: 150%;
    font-size: var(--fnt-md);
    width: 40rem;    
    letter-spacing: 0.08rem;
}

.hero-btn {
    background-color: white;
    color: var(--primary-color);
    font-size: var(--fnt-md);
    z-index: 1;
    overflow: hidden;
    transform: scaleX(1);
}

.hero-btns  {
    gap: 2.5rem;
}

.hero-btn.secundary-btn:hover,
.hero-btn.secundary-btn:focus,
.hero-btn.secundary-btn:active {
    border: 1px solid #95C11F !important;
    font-weight: bold;
}

.quote-container {
    flex-direction: column;
    padding: 7.33rem 0;
}

.form > .d-flex { margin-bottom: 0.5rem; }

.form .d-flex .d-flex {
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}
.form-input {
    padding: 0.3rem 0.5rem;
    border-radius: 2px;
    border: 0.5px solid #000;
}

.form-btn {
    font-size: var(--fnt-md);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.form-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--secundary-color);
    transition: transform 450ms ease-in-out;
    transform-origin: right;
    transform: scaleX(0);
}

.form-btn:hover::before,
.form-btn:focus::before,
.form-btn:active::before
 {
    transform-origin: left;
    transform: scaleX(1);
}
.services { background-color: var(--light-gray-color); }
.section-title {
    text-align: center;
    font-size: var(--fnt-xl);
    margin-bottom: 6rem;
}

.section-title::before{
    display: inline-block;
    position: relative;
    content: "";
    top: 0.3rem;
    height: 3rem;
    width: 0.5rem;
    background-color: var(--accent-color);
    margin-right: 1rem;
}


.services-container { grid-template-columns:repeat(6, 1fr);
}
.services-container article{
    padding: 2rem;
    width: 100%;
    border:var(--border-color) 1px solid;
    border-radius: 0.8rem;
    background-color: var(--white-txt-color);
}

.services-container a{ color: var(--secundary-color)}

.service-list { padding: 0 1.5rem}
.service-item {margin: 1rem 0;}

.services-service-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.services-service-2 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.services-service-3 {
    grid-column-start: 5;
    grid-column-end: 7;
}

.services-service-4 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.services-service-5 {
    grid-column-start: 4;
    grid-column-end: 7;
}

footer, footer a { color: var(--white-txt-color); }

.footer-title { color: var(--accent-color); }

/*services page*/
.services-page .hero-title {
    font-size: var(--fnt-lg);
    margin-bottom: 0.3rem;
}
.services-page .hero-container img{
    margin-bottom: 2rem;
}
.services-page .hero-container p{
    margin-bottom: 0;
    line-height: 1.7rem;
}
.services-page .hero-container h2{
    margin-bottom: 0.7rem;
}
.services-page .service-title {
    font-size: var(--fnt-lg);
    text-align: center;
    margin-bottom: 4rem;
}
.services-page .section,
.operations-page .section,
.about-page .section,
.quote-page .section {
    padding: 6rem 0;
    margin: 0 auto;
}

.services-page .section  p,
.operations-page .section p,
.about-page .section p {
    font-size: var(--fnt-md);
    line-height: 1.7rem;
}
.services-page .service-description p,
.operations-page .operations-description p,
.about-page .about-description p {
    margin-bottom: 2rem;
}

.services-page .service-items,
.services-page .service-items article,
.services-page .countries-container .d-flex,
.operations-page .contries-items,
.operations-page .contries-items article,
.contact-service-container{
    gap: 4rem;
}
.services-page .available-countries p {
    text-align: center;
    font-size: var(--fnt-md);
    margin: 0 6rem;
}

.services-page .countries-container {
    padding: 6rem 0 0;
    gap: 4rem;
}

.contact-service-section{
    padding-top: 3rem !important;
}

.contact-service-container {
    background-color: var(--primary-color);
    border-radius: 1.5rem;
    padding: 5rem 3rem;
    color: var(--white-txt-color);
}
.contact-service-container p {
    margin: 0;
}

.operations-page .contries-items h3 {
    margin-bottom: 0;
}

/*about us */
.dept-section {
    width: 80%;
    margin: auto;
}
.dept-section-grid {
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
}

.dept-menu {
    position: sticky;
}

.dept-menu ul {
    list-style: none;
}

.dept-menu li {
    margin-bottom: 2rem;
    font-size: var(--fnt-lg);
}
.dept-menu a{
    color: var(--primary-color);
}

.dept-menu a:hover{
   font-weight: bold;
}

.dept-members-container, .dept-member {
    gap: 4rem 2rem;
}

.member-info{
    gap: 1rem;
}

.dept-member {
    width: 47%;
}

.dept-members-container h3{
    margin-top: 0rem;
    margin-bottom: 0.2rem;
    font-size: var(--fnt-lg);
}
.dept-members-container h4{
    margin:0;
    font-size: var(--fnt-sm);
}
.member-img{
    background-color: var(--light-gray-color);
    width: 100%;
    height:550px;
}


/* Animations */

.txt-animation {
    animation: testHero 15s ease-in-out infinite;
    max-width: 900px;
}

.txt-animation h1 {
    font-size: 4.2rem;
    line-height: 4.2rem;
    color: var(--accent-color);
    font-weight: 900;
    padding-bottom: 1.5rem;
}
.txt-animation:hover {
   animation-play-state: paused;
}
@keyframes testHero {
    0% {
        transform: translateY(85px);
    }
    2%, 24% {
        transform: translateY(0);
    }
    27%, 48% {
        transform: translateY(-85px);
    }
    51%, 72% {
        transform: translateY(-170px);
    }
    75%, 98% {
        transform: translateY(-255px);
    }
    100%{
        transform: translateY(-340px);
    }
}

.bg-animation {
    position: absolute;
    animation: bgHero 30s ease-in-out infinite;
    background-repeat: no-repeat;
    background-image: url("/imgs/image-1.png");
    height: 100%;
    width: 45%;
    bottom: -160px;
    right: 0;
}

@keyframes bgHero {
    0%, 25% {
        background-image: url("/imgs/image-1.png");
    }

    27%, 48% {
        background-image: url("/imgs/image-2.png");
    }

    51%, 72% {
        background-image: url('/imgs/image-3.png');
    }

    75%, 100%{
        background-image: url('/imgs/image-4.png');
    }
}