@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    --primary-color: #000;
    --secondary-color: #95C11F;
    --accent-color: #FFC700;
    --secondary-txt-color: #3F3F3F;
    --danger-txt-color: #fc5a5a;
    --white-txt-color: #fff;
    --light-gray-color: #FAFAFA;
    --border-color: #D9D9D9;
    --fnt-sm: 1rem;
    --fnt-md: 1.2rem;
    --fnt-lg: 1.6rem;
    --fnt-xl: 3.33rem;
    --fnt-xxl: 3.66rem;

}

a { text-decoration: none !important; }

a:hover,
a:active,
a:visited,
a:focus { color: inherit !important; }

*{
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.white { color: var(--white-txt-color) }
.accent { color: var(--accent-color) }

.bg-gray { background-color: var(--light-gray-color);}
.bg-black { background-color: var(--primary-color);}

.fw-light { font-weight: 300 }
.fw-regular { font-weight: 400 }
.fw-medium { font-weight: 500 }
.fw-bold { font-weight: 700 }

.txt-danger { color: var(--danger-txt-color);}

.gap-xs { gap: 1rem;}
.gap-sm { gap: 2rem}
.gap-md { gap: 4rem;}

.section-padding-y {
    padding-top: 9rem;
    padding-bottom: 9rem ;
}

.btn {
    border: none !important;
    color: var(--white-txt-color) !important;
    padding: 1rem 1.5rem !important;
    border-radius: 0.3rem !important;
    cursor: pointer;
}
.primary-btn { background-color: var(--primary-color) !important; }
.secondary-btn {
    background-color: transparent !important;
    border: 1px solid #fff !important;
}

header { position: relative; }

.nav-link {
    padding: 3rem 2rem;
    font-size: var(--fnt-sm);
    position: relative;
    text-transform: uppercase;
    list-style: none;
}

.nav-link a {
    text-decoration: none;
    color: var(--white-txt-color) !important;
}

.nav-link a:hover {
    font-weight: 700;
    color: white !important;
}

.nav-link a::before{
    top: 40px;
    background-color: var(--accent-color);
    border-radius: 1rem;
    content: "";
    display: block;
    height: 0.2rem;
    left: 10%;
    position: absolute;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 150ms ease;
    width: 80%;
}

.nav-link a:hover::before {
    transform: scaleX(1);
    transform-origin: center;
}

.check-burger-icon { opacity: 0; }

.nav-quote-btn {
    border: #FACC2D 3px solid;
    border-radius: .5rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    text-decoration: none;
    color: var(--white-txt-color) !important;    
    list-style: none;

    transition: background-color 200ms ease-in-out;
}

.nav-quote-btn:hover {
    background-color: var(--accent-color);
    font-weight: 700;
    color: black !important;
}

.hero-main-container {min-height: 80vh;}

.home-hero{
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.hero {
    padding: 6rem 0;
    justify-content: center;
    align-items: center;
}

.hero-animation-container {
    height: 70px;
    overflow: hidden;
    margin-top: 1rem;
    width: 900px;
}

.hero-container { height: 70px; }

.hero-title{
    font-size: 3.5rem;
    line-height: 3.5rem;
    cursor: pointer;
    letter-spacing: 0.15rem;
    color: #fff;
}
.hero-subtitle {
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
    font-size: var(--fnt-lg);
    line-height: 2rem;
}

.hero-paragraph {
    margin-top: 1.3rem;
    line-height: 150%;
    font-size: var(--fnt-md);
    width: 40rem;    
    letter-spacing: 0.08rem;
}

.hero-btn {
    background-color: white;
    color: var(--primary-color);
    font-size: var(--fnt-md);
    z-index: 1;
    overflow: hidden;
    transform: scaleX(1);
}

.hero-btns  { gap: 2.5rem; }

.hero-btn.secondary-btn:hover,
.hero-btn.secondary-btn:focus,
.hero-btn.secondary-btn:active {
    border: 1px solid #95C11F !important;
    font-weight: bold;
}

.quote-container {
    flex-direction: column;
    padding: 7.33rem 0;
}

.form > .d-flex { margin-bottom: 0.5rem; }

.form .d-flex .d-flex {
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}
.form-input {
    padding: 0.3rem 0.5rem;
    border-radius: 2px;
    border: 0.5px solid #000;
}

.form-btn,
.operations-btn {
    font-size: var(--fnt-md);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.form-btn::before,
.operations-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--secondary-color);
    transition: transform 450ms ease-in-out;
    transform-origin: right;
    transform: scaleX(0);
}

.form-btn:hover::before,
.form-btn:focus::before,
.form-btn:active::before,
.operations-btn:hover::before,
.operations-btn:focus::before,
.operations-btn:active::before {
    transform-origin: left;
    transform: scaleX(1);
}

.arrow-icon { width: 10px; }

.arrow-circle-icon { width: 15px; }

.arrow-icon svg,
.arrow-circle-icon svg { fill: white; }

.services { background-color: var(--light-gray-color); }

.section-title {
    text-align: center;
    font-size: var(--fnt-xl);
    margin-bottom: 6rem;
}

.section-title::before{
    display: inline-block;
    position: relative;
    content: "";
    top: 0.3rem;
    height: 3rem;
    width: 0.5rem;
    background-color: var(--accent-color);
    margin-right: 1rem;
}

.services-container { grid-template-columns:repeat(15, 1fr); gap:1rem;}

.services-service-1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.services-service-2 {
    grid-column-start: 4;
    grid-column-end: 7;
}

.services-service-3 {
    grid-column-start: 7;
    grid-column-end: 10;
}

.services-service-4 {
    grid-column-start: 10;
    grid-column-end: 13;
}

.services-service-5 {
    grid-column-start: 13;
    grid-column-end: 16;
}
.services-container article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 100%;
    border-radius: 0.8rem;
    background-color: var(--white-txt-color);
    transform: scale(1);
    transition: transform 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.services-container article:hover {
    box-shadow: 0rem 0.5rem 1.5rem rgba(0,0,0,.175)!important;
    transform: scale(1.02);
    z-index: 1000;
}

.service-btn:hover { color: var(--secondary-color) !important}

.service-list { padding: 0 1.5rem }
.service-item {margin: 1rem 0; }

.flag-icon { width: 50px; }

footer, footer a { color: var(--white-txt-color); }

.footer-title { color: var(--accent-color); }

.footer-icon { width: 25px; }

.footer-icon svg { fill: white; }

.footer-icon-social { width: 43px; }

.footer-icon-social svg { fill: white;}

/*services page*/
.services-page .hero-title {
    font-size: var(--fnt-lg);
    margin-bottom: 0.3rem;
}
.services-page .hero-container img {  margin-bottom: 2rem; }

.services-page .hero-container p {
    margin-bottom: 0;
    line-height: 1.7rem;
}
.services-page .hero-container h2{ margin-bottom: 0.7rem; }

.services-page .service-title {
    font-size: var(--fnt-lg);
    text-align: center;
    margin-bottom: 4rem;
}
.services-page .section,
.operations-page .section,
.about-page .section,
.quote-page .section {
    padding: 6rem 0;
    margin: 0 auto;
}

.services-page .section  p,
.operations-page .section p,
.about-page .section p {
    font-size: var(--fnt-md);
    line-height: 1.7rem;
}
.services-page .service-description p,
.operations-page .operations-description p,
.about-page .about-description p { margin-bottom: 2rem; }

.services-page .service-items,
.services-page .service-items article,
.services-page .countries-container .d-flex,
.operations-page .contries-items,
.operations-page .contries-items article { gap: 4rem; }

.services-page .available-countries p {
    text-align: center;
    font-size: var(--fnt-md);
    margin: 0 6rem;
}

.services-page .countries-container {
    padding: 6rem 0 0;
    gap: 4rem;
}

.contact-service-section{ 
    padding-top: 9rem !important;
    padding-bottom: 9rem !important; }

.contact-service-container {
    background-color: var(--primary-color);
    border-radius: 1.5rem;
    padding: 5rem 3rem;
    color: var(--white-txt-color);
}
.contact-service-container p { margin: 0; }

.operations-page .hero-title {
    line-height: 150%;
    text-transform: uppercase;
    font-weight: bold;
}

.operations-page .img-country {
    border-radius: 15px;
    object-fit: cover;
    height: 400px;
}

.operations-flag-icon svg {
    width: 40px;
}

.contact-service-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.contact-service-icon svg {
    width: 50px;
    height: 50px;
}

.contact-service-container p {
    font-size:var(--fnt-lg);
}

.contact-service-btn {
    max-width: 150px;
    background-color: var(--secondary-color) !important;
    padding: 1rem 1.5rem !important;
}

/*about us */
.dept-section {
    width: 80%;
    margin: auto;
}
.dept-section-grid {
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
}

.dept-menu { position: sticky; }

.dept-menu ul { list-style: none; }

.dept-menu li {
    margin-bottom: 2rem;
    font-size: var(--fnt-lg);
}
.dept-menu a{  color: var(--primary-color); }

.dept-menu a:hover{ font-weight: bold; }

.dept-members-container, .dept-member { gap: 4rem 2rem; }

.member-info { gap: 1rem; }

.dept-member { width: 47%; }

.dept-members-container h3{
    margin-top: 0rem;
    margin-bottom: 0.2rem;
    font-size: var(--fnt-lg);
}
.dept-members-container h4{
    margin:0;
    font-size: var(--fnt-sm);
}
.member-img{
    background-color: var(--light-gray-color);
    width: 100%;
    height:550px;
}

/* Animations */

.txt-animation {
    animation: testHero 15s ease-in-out infinite;
    max-width: 900px;
}

.txt-animation h1 {
    font-size: 4.2rem;
    line-height: 4.2rem;
    color: var(--accent-color);
    font-weight: 900;
    padding-bottom: 1.5rem;
}
.txt-animation:hover { animation-play-state: paused; }
@keyframes testHero {
    0% {
        transform: translateY(85px);
    }
    2%, 24% {
        transform: translateY(0);
    }
    27%, 48% {
        transform: translateY(-85px);
    }
    51%, 72% {
        transform: translateY(-170px);
    }
    75%, 98% {
        transform: translateY(-255px);
    }
    100%{
        transform: translateY(-340px);
    }
}

.bg-animation {
    position: absolute;
    animation: bgHero 30s ease-in-out infinite;
    background-repeat: no-repeat;
    background-image: url("../imgs/image-1.png");
    background-position-y: 50%;
    height: 100%;
    width: 50%;
    right: 0;
}

@keyframes bgHero {
    0%, 25% {
        background-image: url("../imgs/image-1.png");
    }

    27%, 48% {
        background-image: url("../imgs/image-2.png");
    }

    51%, 72% {
        background-image: url('../imgs/image-3.png');
    }

    75%, 100%{
        background-image: url('../imgs/image-4.png');
    }
}

.operations-animation {
    animation: operationsHero 30s ease-in-out infinite;
    background-image: url("/imgs/operations-3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    height: 55vh;
}

@keyframes operationsHero {
    0%, 30% {
        background-image: url("/imgs/operations-3.png");
    }

    33%, 63% {
        background-image: url("/imgs/operations-2.png");
    }

    66%, 100% {
        background-image: url('/imgs/operations-1.png');
    }
}


@media (min-width: 1440px) {

.contact-service-container {
    width: 80%;
    margin: auto !important;
}
}
/* responsive */ 
@media (max-width: 1024px) {

    .bg-animation { background-position-x: -50%; }

    .services-container {gap:2.5rem}

    .services-service-1 {
        grid-column-start: 1;
        grid-column-end: 6;
    }
    
    .services-service-2 {
        grid-column-start: 6;
        grid-column-end: 11;
    }
    
    .services-service-3 {
        grid-column-start: 11;
        grid-column-end: 16;
    }
    
    .services-service-4 {
        grid-column-start: 3;
        grid-column-end: 8;
    }
    
    .services-service-5 {
        grid-column-start: 8;
        grid-column-end: 13;
    }

    .contact-service-container {
        height: 400px;
        padding: 3rem;
    }

    .contact-service-container p {
        text-align: center !important;
    }

    .contact-service-btn.mx-auto {
        max-width: 100% !important;
        width: 80%;
    }

    /* .row.contact-service-container.w-75 {width: 100% !important;} */
}

@media (max-width: 768px) {

    .bg-animation { display: none; }

    .hero-animation-container, .hero-paragraph {width: 100%;}

    .hero-title-text, .hero-animation-container, .hero-paragraph{ text-align: center;}

    .hero-btns { justify-content: center;}

    .section-title { position: relative; }

    .section-title::before {
        position: absolute;
        width: 25%;
        left: 50%;
        height: 0.5rem;
        top: auto;
        bottom: -1.5rem;
        transform: translateX(-50%);
    }

    .form.w-75 { width: 100% !important; }

    .footer-text.d-flex.justify-content-center.align-items-center.gap-md {
        flex-direction: column;
        gap: 2rem;
        align-items: start !important;
    }

    .contact-service-container {
        width: 80%;
        margin: auto !important;
    }
}

@media (max-width: 767px) {
    .container-fluid.sticky-top.bg-black {padding: 0rem;}

    .container.nav {max-width: 100% !important;}

    .nav.py-4{ padding: 1rem 0rem 1rem !important; }

    .nav-quote-btn {
        margin: 0;
        border: none;
        text-transform: uppercase;
        border-radius: 0;
        padding: 1.5rem;
    }

    .logo-home {padding-left: 1rem;}

    .burger-icon.d-none {
        position: relative;
        display: block !important;
        padding-right: 1rem;
    }
    .burger-icon svg {
        fill: white;
        width: 40px;
    }
    .check-burger-icon {
        position: absolute;
        width: 40px;
        top: 35px;
        right: 15px;
        opacity: 0;
    }

    .nav-logo-container svg { width: 40px;}

    .nav .nav-links {
        display: none !important;
        text-align: center;
        flex-direction: column;
        flex-basis: 100%;
        padding: 0rem;
        border-bottom: 0.01rem solid rgb(66, 66, 66);
    }

    .nav input[type=checkbox]:checked + ul.nav-links {
        display: flex !important;
    }

    .nav-link { padding: 1.5rem !important; }

    .nav-link:hover { background-color: #282828; }

    .home-hero {
        height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .services-container {gap:2.5rem 0 }

    .services-service-1 {
        grid-column-start: 2;
        grid-column-end: 15;
    }
    
    .services-service-2 {
        grid-column-start: 2;
        grid-column-end: 15;
    }
    
    .services-service-3 {
        grid-column-start: 2;
        grid-column-end: 15;
    }
    
    .services-service-4 {
        grid-column-start: 2;
        grid-column-end: 15;
    }
    
    .services-service-5 {
        grid-column-start: 2;
        grid-column-end: 15;
    }

    .hero-title { font-size: 2rem;}

    .operations-page .hero-title {
        font-size: 3.5rem;
        width: 100% !important;
    }

    .country-text.col-12.col-md-6.p-4 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .contact-service-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }

    .contact-service-section .contact-service-container {
        flex-direction: column;
        height: 450px;
        width: 100%;
    }

    .contact-service-section .contact-service-container p { width: 100% !important;}

    .hero-subtitle { font-size: 1rem;}

    .hero-animation-container { height: 140px; }

    .order-bottom {order: 1;}

    .order-bottom {order: 2;}

    @keyframes testHero {
        0% {
            transform: translateY(145px);
        }
        2%, 24% {
            transform: translateY(0px);
        }
        27%, 48% {
            transform: translateY(-150px);
        }
        51%, 72% {
            transform: translateY(-300px);
        }
        75%, 98% {
            transform: translateY(-450px);
        }
        100%{
            transform: translateY(-600px);
        }
    }
}

@media (max-width: 560px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-text  h2  { text-align: center; }

    .footer-text  .d-flex  {
        width: 100%;
        justify-content: center !important;
    }

    .footer-social-container .footer-icon-social{ margin-right: 0 !important;     }
}

@media screen and (min-width: 0) and (max-width:465px) {

    .section-padding-y {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .hero-title { font-size: 2rem;}
    .hero-subtitle { font-size: 1rem;}
    .hero-animation-container { height: 190px; }

    .txt-animation h1 { padding-bottom: 2.2rem; }

    .hero-btns { flex-direction: column; }

    .hero-btns .hero-btn { justify-content: center !important;}

    .operations-page .hero-title,
    .operations-page .section-title {font-size: 2.5rem;}

    .operations-page .contact-service-section { width: 100% !important;}

    @keyframes testHero {
        0% {
            transform: translateY(190px);
        }
        2%, 24% {
            transform: translateY(0px);
        }
        27%, 48% {
            transform: translateY(-195px);
        }
        51%, 72% {
            transform: translateY(-390px);
        }
        75%, 98% {
            transform: translateY(-585px);
        }
        100%{
            transform: translateY(-780px);
        }
    }
}